<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<%- include('welcomemessage') -%>
<br>
<br><br><br>
<center>
<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
  </tr>  
  <tr>
    <td><input type="text" id="order_name" name="order_name" ></td>
    <td><input type="text" id="order_address" name="order_address" ></td>
  </tr>
</table>
</center>
<br>
<center>
<table>
  <tr>
    <th>Select</th>
    <th>Item name</th>
    <th>Item size</th>
    <th>Price</th>
  </tr>
  <%- include('itemtable') -%>
</table>
</center>
<br>
<center>
<button name="cancel" type="button">Cancel</button> <button name="addorder" type="button">Add order</button>
</center>

<script type="text/javascript" src="static/scripts/addorder.js"></script>
</body>
</html>